.main{
    border: 6px solid rosybrown;
    width: 200px;
    margin: 0 auto;
}
.display{
    width: 95%;
    background-color: cadetblue;
    color:whitesmoke;

}
.display:hover{
    background-color: rgb(11, 56, 97);
}
.clearbutton{
    width: 100%;
    margin-top: 10px;
   background-color:cadetblue;
    color: white;
}
.clearbutton:hover{
    background-color: rgb(11, 56, 97);
}
button{
    width: 45px;
    margin: 1px;
    background-color:cadetblue;
    color: white;
}
.button:hover{
    background-color: rgb(11, 56, 97);
}
.zero{
    width:95px  ;
    background-color:cadetblue;
    margin-top: 5px;
    color: white;
}
.zero:hover{
    background-color: rgb(11, 56, 97);
}
.name{
    width: 100%;
    margin-top: 10px;
    background-color:rosybrown;
}
.name:hover{
  background-color:rgb(95, 43, 43) ;
}